@import "helper";

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-weight: 300;
}

.trans{
  transition: 0.3s;
}

header{
  width: 100%;
  height: 50.75rem;
  @include flex('c', 'c');
  overflow: hidden;
  position: relative;
  video{
    height: 200%;
  }
}

.header-products{
  transform: translateY(-50%);
}

.slider-buttons{
  min-width: 3.125rem;
  min-height: 3.125rem;
  border-radius: 50%;
  @include flex('c', 'c');
  background-color:  #044343;
  border: 0;
  color: #fff;
  margin-left: 1.25rem;
  margin-right: 1.5625rem;
  &.left{
    margin-left: 1.5625rem;
    margin-right: 1.25rem;
  }
}

.slick-track {
  padding: 30px 0;
}

.def-shadow{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.bg{
  @include bg;
}

.def-input{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 0.625rem;
  &.active{
    span{
      transform: translateY(0);
      opacity: 1;
      font-size: 0.9rem;
    }
    input{
      border-bottom: 1px solid $c-white-hover;
    }
  }
  span{
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: $c-white;
    transform: translateY(2.1875rem);
    transition: 0.3s;
    cursor: text;
    opacity: 0.9;
  }
  input{
    width: 100%;
    height: 3.125rem;
    border: 0;
    border-bottom: 1px solid #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #fff;
    background-color: transparent;
    transition: 0.3s;
  }
}

.text-bottom-shadow{
  position: relative;
  height: 2.6875rem;
  overflow: hidden;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 253, 253, 0) 0%, #FFFFFF 76.56%);
  }
  &.open-text{
    height: auto;
    &:before{
      opacity: 0;
    }
  }
}

.footer-border-right{
  @media (min-width: $md) {
    border-right: 1px solid #fff;
  }
}

.footer-border-bottom{
  @media (min-width: $md) {
    border-bottom: 1px solid #fff;
  }
}

.mobile-menu{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  z-index: 10000000;
  top: 0;
  left: 0;
  transition: 0.3s;
  transform: translateX(-100%);
  opacity: 0;
  &.active{
    transform: translateX(0);
    opacity: 1;
  }
}

.border-bottom-grey{
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.modal {
  backdrop-filter: blur(5px);
}

.border-darkGreen{
  border: 1px solid #044343;
}

.dropdown-toggle{
  &:after{
    content: unset;

  }
}