<header>
  <video muted autoplay preload="auto" loop>
    <source src="video/header.mp4" type="video/mp4">
  </video>
  <div class="position-absolute bgc-blackTransparent w-100 h-100 left-0 top-0 bgBlur-10">
    <div class="d-flex justify-content-between align-items-center position-absolute top-14 right-25 d-none d-md-block">
      <a href="#" class="c-white me-2 px-1 border">
        AM
      </a>
      <a href="#" class="c-white me-2 px-1">
        RU
      </a>
      <a href="#" class="c-white px-1">
        EN
      </a>
    </div>
    <nav class="d-none d-md-block">
      <div class="container d-flex justify-content-center align-items-center mt-3">
        <a href="/" class="c-white me-5 trans">ԳԼԽԱՈՐ</a>
        <a href="#about-us" class="c-white me-5 trans">ՄԵՐ ՄԱՍԻՆ</a>
        <a href="/" class="me-5">
          <img src="images/logo-site.png" class="w-120" alt="Logo Site">
        </a>
        <a href="#" class="c-white me-5 trans">ԱՐՏԱԴՐԱՆՔ</a>
        <a href="products.html" class="c-white me-5 trans">ՆՈՐՈՒՅԹ</a>
      </div>
    </nav>

    <div class="fs-50 c-white position-relative left-28 top-20 cursor-pointer d-block d-md-none" id="mobile-menu-open">
      <i class="fa-regular fa-bars"></i>
    </div>

    <div class="container mt-150">
      <div class="%w-99 %w-md-60">
        <h1 class="fs-35 fs-md-40 c-white mb-2 fw-bold text-center text-md-start">ԿՈՆՅԱԿ ԵՎ ԿՈՆՅԱԿԻ ՆՎԵՐՆԵՐ</h1>
        <p class="c-white fw-light text-center text-md-start">
          Brandy Gift - ը պարունակում է կոնյակի և կոնյակի նվերների լայն տեսականի, այնպես որ դուք կարող եք գտնել կատարյալ
          նվերը, անկախ նրանից, թե որ տեսակին էլ նախընտրում եք, և անկախ ձեր բյուջեից: Մեր ընտրանին ներառում է կոնյակի և
          կոնյակի նվերների հավաքածուներ շքեղ փաթեթավորմամբ, ինչպիսիք են փայտե տուփերը, նվերների տուփերը և հյուսած
          զամբյուղները:
        </p>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu pt-100">
  <div class="c-white fs-50 position-absolute left-20 top-20" id="close-mobile-menu">
    <i class="fa-regular fa-xmark"></i>
  </div>
  <a href="/">
    <div class="border-bottom-grey text-center text-uppercase c-white fs-28 py-3">
      ԳԼԽԱՈՐ
    </div>
  </a>
  <a href="#about-us">
    <div class="border-bottom-grey text-center text-uppercase c-white fs-28 py-3">
      ՄԵՐ ՄԱՍԻՆ
    </div>
  </a>
  <a href="products.html">
    <div class="border-bottom-grey text-center text-uppercase c-white fs-28 py-3">
      ԱՐՏԱԴՐԱՆՔ
    </div>
  </a>
  <a href="#">
    <div class="border-bottom-grey text-center text-uppercase c-white fs-28 py-3">
      ՆՈՐՈՒՅԹ
    </div>
  </a>

  <div class="d-flex justify-content-center mt-4">
    <div class="d-flex justify-content-between align-items-center w-200">
      <a href="#" class="c-white me-2 px-1 border fs-22">
        AM
      </a>
      <a href="#" class="c-white me-2 px-1 fs-22">
        RU
      </a>
      <a href="#" class="c-white px-1 fs-22">
        EN
      </a>
    </div>
  </div>
</div>