<div class="modal fade"  id="modal-success-user" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body py-5">
        <p class="text-center c-darkGreen fs-20">
          Խնդրում ենք հաստատեք որպեսզի Ձեզ տարիքը գերազանցում է 18 - ը
        </p>
        <div class="d-flex justify-content-center mt-5">
          <button class="border-0 py-1 px-4 bgc-darkGreen c-white fs-20" id="close-modal-success">ՀԱՍՏԱՏՈՒՄ ԵՄ</button>
        </div>
      </div>
    </div>
  </div>
</div>